h1::first-letter {
    color: purple;
  }
  .mno h1{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
  }
  .carousel-caption h2,p{
      position: relative;
      bottom: 150px;
      text-align: center;
  }
  .fa {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }
  
  